/*---------------------breadcrumbs---------------------*/
.breadcrumbs {list-style: none; width: 83.3%; display: flex; margin: 16px auto; font-weight: 300; color: #666666}
.breadcrumbs li {margin-right: 3px}
