@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

@import url("Breadcrumbs.css");
@import url("SearchBar.css");
@import url("ProductPreview.css");
@import url("ProductDetail.css");
@import url("Carrousel.css");
@import url("ErrorScreen.css");

body{margin: 0; margin-bottom: 32px;background-color: #EEEEEE; font-family: 'Roboto', sans-serif;}

.loading, .notFound {width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; position:absolute;
    left:0px; top:50px; right:0px; bottom:0px; font-size: 1.2em;text-align: center;
}
