.productList{list-style: none; width: 83.3%; margin: auto; background-color: #fff; padding: 0}

/*---------------------Container Box---------------------*/
.previewBox{display: flex; padding: 16px 0; text-decoration: none; color: #333333}
hr {margin: 0 16px; border-top: #EEEEEE}
li{ color: #EEEEEE;display:block; margin:0;text-transform:uppercase; }
li:after {display:block; content: ''; border-bottom: solid 1px #3EEA9B; transform: scaleX(0); transition: transform 500ms ease-in-out;}
li:hover:after { transform: scaleX(1); }
/*---------------------Image---------------------*/
.previewImage{margin: 0 16px}
.previewImage img{width: 180px; height: 180px; border: 1px solid #EEEEEE; border-radius: 4px}

/*---------------------Info---------------------*/
.productInfo{width: 60%}
.productPrice, .productTitle, .productLocation{margin: 16px 0}
sup{vertical-align: center; font-size: 0.5em}
.productPrice, .shipping{font-size: 1.4em}
.shipping{margin: 0 10px}
.productTitle{margin: 32px 0}
