/*---------------------Container Box---------------------*/
.detailContainer {width: 83.3%; margin: auto; display: flex; background-color: #fff}

/*---------------------Figure---------------------*/
.detailImage{width: 65%; margin: 32px; margin-bottom: 0}
.descriptionTitle{font-size: 28px;margin: 16px 0}
.descriptionContent{margin: 32px 0; text-align: justify;}

/*---------------------Details---------------------*/
.details{width: 35%; margin: 32px; margin-left: 0;}
.condAndSold{font-size: 14px; margin-bottom: 16px}
.itemTitle{font-size: 24px; margin-bottom: 32px}
.itemPrice{font-size: 46px; margin-bottom: 32px}
sup{vertical-align: center; font-size: 0.5em}
.btn {min-width: 50%; padding: 15px; font-size: 1.2em; overflow: hidden; background-color: #FF5733; color: #fff; border-width: 0;
    outline: none; border-radius: 2px; box-shadow: 0 1px 4px rgba(0, 0, 0, .6)}
.btn:hover{cursor:pointer}

/*---------------------MediaQueries---------------------*/
@media screen and (min-width:240px) and (max-width:800px) {
	.detailContainer{width: 100%; flex-direction: column;}
    .detailImage {width: 100%; height: auto;margin: 0}
    .descriptionTitle, .descriptionContent {display: none}
    .details{width: 90%; margin: 32px auto; display: flex; flex-direction: column}
    .itemTitle{margin: 8px 0 }
    .btn{width: 90%; margin: auto; align-self: center;}
}
